 html {font-size: 75%;} 
body {margin: 0 auto;font-family: Tahoma,Geneva,sans-serif;font-size: 1.2rem;background-color: #ffffff; }
.hood{   width:1200px; margin: 0px auto; padding: 0px;}
h1{text-align:center;font-family:Riky Vampdator ;background-color: none;color:white}
.logo{ float:left; width:20%; max-height:405px; }
.logo img{ width:100%; max-width:341px; max-height:205px; }
h3,p{text-align:center;font-family: agency fb;font-size:24px;}

   
 
.body{   width:100%;height:60%}
 
  .body{background: transparent url("../images/sixexecutive.jpg") no-repeat scroll 0% 0%;  }
    .pic{  position: center;height:400px;}
 

  
 .f2 ul{ padding-top:6px; }

.footer { background: #181818 none repeat scroll 5% 0%;padding-top: 40px; color: #FFF; padding-bottom:15%;
margin-bottom:-80px;}
.footer a{ color:#fff; }
.footer a:hover{ color:#e83f30; }
 
.footer li {line-height: 30px;color: #FFF;}

.footer li a {color: #FFF;}
.f2 { float: left; width: 21.3%;}
 

 .social { padding-top: 20px; margin-bottom: 16px;}
.social a { margin-right: 30px;}

 /*index page*/
 #access {display: block;   margin: 0 auto; width: 880px;background: #000; position: relative;  
 margin-right:15px;}
 .menu-header, div.menu { margin-left: -100px; width: 948px; }
 
 .menu-header li, div.menu li {float: left;position: relative;}
#access a { color:white;display: block;line-height: 43px; padding: 0 10px;text-decoration: none;font-weight: 300;
font-family: Lato,sans-serif;
position: relative;
border-bottom: 3px solid #e20204;
background: #000;
}
 #access a:hover{ color:red;border:solid }
 .clear {clear:both;}
#menu-topnav{ color:#e83f30 !important;} 
  .menu {position:relative;line-height:105px; }
   .list{  font-size:2.4rem; float:left;  margin-top:-40px ;color: #ababab;} 
  ul, form, p, a, img, table, tr, td, li,dd,dt,dl { padding:0;list-style:none; text-decoration: none;}
  .header-text {    font-size: 50px;    text-align: right;        font-weight: 700;}
.header-text a{text-decoration: none;}

.ak-search{ float:right;position: relative; margin-top:-40px ;}
.searchform {  height: 36px; width: 200px; border: 1px solid #e20204; border-radius: 25px;
    margin-left: 20px; background: #FFF;}
.searchform .s {  border: none;background: 0 0; height: 34px; float: left;
    padding: 5px 10px; width: 160px;vertical-align: middle; font-size: 14px;
}
.searchform .searchsubmit {border: none;  height: 34px;  width: 70px;    padding: 0;
    box-shadow: none; float: left; background: 0 0;color: #e20204;font-size: 14px;}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal;
    font-weight: 400px;   line-height: 1; }

	/*login*/
	
	#login {width:300px;float:right;
border-radius:10px;border:2px solid #ccc;padding:20px 120px 45px;
 margin-right:170px; margin-top:20px;}

.form-l input[type=text],input[type=password] { 
width:99.5%;padding:15px;margin-top:12px;
 padding-left:8px;font-size:16px; }
 
input[type=submit] {width:50%;background-color:#FFBC00;
color:#fff;padding:10px;font-size:20px;
cursor:pointer;border-radius:5px; margin-left:70px;}

#main {width:900px;margin:20px auto;}
span {
color:red
}

.f-log {background-color:#FEFFED;text-align:center;
border-radius:10px 10px 0 0;
margin:-20px -120px;
padding:15px
}
.psw{ font-family: FontAwesome; }

/*sign up*/
.form-r input[type=text],input[type=password] { 
width:99.5%;padding:13px  ;margin-top:17px; 
 padding-left:15px;font-size:16px; }
 